{% extends 'layout.html.twig' %}

{% block body %}
<div class="container">
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	Connecté en tant que {{ app.user.username }} - <a class="link" href="{{ path('logout') }}">Déconnexion</a>
{% else %}
	<a class="link" href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}
</div> <!-- /container -->
{% endblock %}