{% extends 'layout.html.twig' %}

{% block body %}
<div class="container">
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	Bonjour {{ app.user.username }} - <a class="link" href="{{ path('logout') }}">Déconnexion</a>
{% else %}
	Vous n'êtes pas connecté
{% endif %}
</div> <!-- /container -->
{% endblock %}