{% extends '::layout.html.twig' %}

{% block body %}
{% include 'header.html.twig' %}
<div class="container">
<h3>Ajouter un véhicule</h3>
{% include 'CarbuBundle:Vehicle:form.html.twig' %}
</div>
{% include 'footer.html.twig' %}
{% endblock %}